<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>


<div class="container">

    <h3>Users directory</h3>
    <hr>

    <a th:href="@{/users/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Users</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each=" user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <a th:href="@{/users/showFormForUpdate(userId=${user.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <a th:href="@{/users/delete(userId=${user.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this users?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>

    </form>
</div>
</body>
</html>

















